captcha
dataset
downloaded_images
test
asach.py
image_processing.py
recognize.py
*.json
.ipynb_checkpoints/
__pycache__/
cnn.h5
dataset_test/
dataset_test_logic/
dataset_test_logic_o/
CaptchaImages
CorrectIncorrect
GujratImages
PatnaCaptchaScreenShots
SampleImages
*.zip
*.pyc